{% extends 'personal/base.html' %}

{% block content %}

    <section id="contact-me">

        <h1>Contact me</h1>

        <!-- Adds link to email from the email icon -->
        <a target="_blank" href="mailto: dhivya.subramanian@hotmail.com">
            <span class="material-symbols-outlined">
                contact_mail
            </span>
        </a>

        <br>

        <!-- Adds the phone number with the phone icon -->
        <p class="phone"> 
            <span class="material-symbols-outlined">
            call
            </span>
            +44 7889859255
        </p>

        <!-- Adds link to LinkedIn profile from the LinkedIn icon -->
        <a target="_blank" href="https://www.linkedin.com/in/dhivya-subramanian-155a31257">
            <i class="fa fa-linkedin-square" ></i>
        </a>
        
    </section>
            
{% endblock %}