{% extends 'personal/base.html' %}

{% block content %}

    <section>

        <h1>Education</h1>

        <h3>DfE Software Engineering Bootcamp, HyperionDev </h3>
        <h3>Currently Enrolled</h3>
        <p>During my DfE Software Engineering Bootcamp with HyperionDev, I learnt Python, OOP, SQL, HTML,
            CSS, GIT, Django and created more than 50 programs in these, involving problem solving and logical 
            reasoning, the key skills required for a Software engineer.
        </p>

        <h3>Bachelor of Engineering in Information Technology, Bharathiar University, India</h3>
        <h3>1998-2002</h3>
        <p>During my Bachelor of Engineering in Information Technology, I had Data Structures & Algorithms, Object
            Oriented Programming, Microprocessor and Abductive logic programming (ALP), Probability Theory and 
            Random process, Operating Systems, Systems Software, Data Base Management Systems, Computer Networks,
            Multimedia systems, Computer Security, Computer Graphics, Client/Server Computing, Unix & Network 
            Operating system to name a few in my curriculum. I passed the degree - First Class with distinction.
        </p>

    </section>

{% endblock %}