{% extends 'personal/base.html' %}

{% block content %}

    <section>

        <h1>Projects</h1>

        <h3><a target="_blank" href="https://github.com/Dhivya-git/finalCapstone/tree/master/StockManagementSystem_T32" >Stock Management System:</a></h3>
        <p>This script in Python simulates the Stock Management System for the manager in Nike warehouse using files and Object Oriented 
            Programming (OOP). It lets the manager to add a stock, look at all the stock, search for a product by code,
            determine the product with the lowest quantity and restock it, determine the product with highest quantity 
            and announce sale on them and calculate the total value of each stock.
        </p>

        <h3><a target="_blank" href="https://github.com/Dhivya-git/finalCapstone/tree/master/EmailSimulation_T30" >Email Simulation:</a></h3>
        <p>Using OOP, this script in Python simulates the email client (inbox preloaded with few emails) by 
            giving the user the option to compose email and send it to a sent box, to get the list of unread mails and read them,
            to mark the email as spam or delete them, to check for new emails which works by populating the inbox with a random fake email
            each time the user checks for new emails.
        </p>

        <h3><a target="_blank" href="https://github.com/Dhivya-git/finalCapstone/tree/master/TaskManager_T26" >Task Management System:</a></h3>
        <p>It is a system  using files in Python for a small business, which lets the users to login
            to the system and manage tasks assigned to each member of the team. The users registered in the system can 
            add tasks for themselves and for others. They can view all the tasks or just the tasks assigned to them. They can mark
            the tasks assigned to them to completion or edit the due date of their task. It lets only the admin user to 
            register new users and displays the tasks and user statistics.
        </p>

        <h3><a target="_blank" href="https://github.com/Dhivya-git/finalCapstone/tree/master/FinanceCalculator_T12" >Finance Calculator:</a></h3>
        <p>This program in Python lets the user to choose between investment or home loan. For investment,
            they have the option to choose between simple or compound and input the amount they are investing and the 
            interest rate. The program then gives the user the amount of interest they would earn on their investment 
            for the given period. If the user chooses home loan, it asks them to input the current value of the house, the
            interest rate and the number of months after which they plan to repay the loan. It then gives them the amount
            they have to pay each month for the repayment of the mortgage.
        </p>

    </section>
        
{% endblock %}