{% extends 'personal/base.html' %}

{% block content %}

    <section>

        <br>

        <h1>Skills & Certifications</h1>
        <ul>
            <li>Python</li>
            <li>SQL and Databases</li>
            <li>Object-Oriented Programming</li>
            <li>Django</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Java</li>
            <li>GIT</li>
        </ul>

        <h1>Certifications</h1>
        <ul>
            <li>ISTQB ISEB Foundation Certificate in Software Testing</li>
            <li>Sun Certified Programmer for the Java 2 Platform 1.4</li>
        </ul>
        
        <br>

    </section>

{% endblock %}