{% extends 'personal/base.html' %}

{% block content %}

    <section>

        <br>
        <br>

        <h1>Work Experience</h1>
        <h3>Software Tester in Cisco Offshore Development Centre, HCL Technologies</h3>
        <h3>April 2003 - Feb 2005</h3>
        <p>As a Software Tester in Cisco Offshore Development Centre, HCL Technologies, I was 
            involved in testing the functionality of Config Editor, a module in Cisco's Network Management System, 
            on a sampled set of devices; writing automation test scripts in Java for critical work flows in the module;
            investigating and addressing customer issues and communicating and working collaboratively with my own team,
            the development team and the marketing team. I have filed 300+ valid defects and verified them paving way 
            for the release of Cisco Works Resource Manager Essential 4.0.
        </p>

        <br>
        <br>
        <br>
        
    </section>

{% endblock %}