<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task 43</title>
    </head>

    <body>

        <p>These are the three apps for task 43. Please navigate.</p>

        <h4><a target="_blank" href="/personal">Personal Portfolio</a></h4>

        <h4><a target="_blank" href="/ecommerce">E-commerce Page</a></h4>

        <h4><a target="_blank" href="/simplecv">Static Portfolio</a></h4>
    
    </body>

</html>